<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>

    <div class="jumbotron p-md-3 bg-lightgreen">
      <div class="container">
        <div class="form-group mx-auto">
          <%= form.label :description, 'Questão', class: 'form-control', style:'font-size: 24px' %>
          <%= form.text_area :description, id: :question_description, placeholder: 'Descrição', class: 'form-control'%>
        </div>

        <div class="form-group mx-auto">
          <%= form.label :active, 'Ativa', style:'font-size: 18px' %>
          <%= form.check_box :active, id: :question_active %>
        </div>

        <div class="form-group">
          <%= form.fields_for  :alternatives do |alternative| %>
            <%= render 'alternative_fields', f: alternative %>
            <%= link_to_add_association 'Adicionar Alternativa', form, :alternatives, class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>
      </div>
    </div>

  <br>
  <div class="actions">
    <%= form.submit 'Criar Questão', class: 'btn btn-warning' %>
  </div>


<% end %>
