<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<hr>
<h1 class="cinza"><%= @titulo %></h1>
<h1 id="cinza"><%= @titulo %></h1>
<h1 class="cinza"><p><%= @titulo %></p></h1>
