<div class="retangulo" style="background-color: #FFF952;">
<div class="row">
    <h1 style="font-size: 60px; font-family:Lato;">
    <div class="off-md-2">
      Ei, tá na hora<br> de estudar para o enem!</h1><br>
    </div>

    <%= image_tag 'logo.png', class: 'logoinicio', alt: "EstudAluno" %>

  </div>
  <h4 style="font-family: serif; font-size: 35px;">Com a plataforma EstudAluno, interatividade e dinâmica não irão
  faltar!<br> É completamente gratuito!</h4>
</div>


  <%= image_tag 'icon-biologia.png', class: 'bio' %>
  <%= image_tag 'icon-filosofia.png', class: 'filo' %>
  <%= image_tag 'icon-fisica.png', class: 'fisica' %>
  <%= image_tag 'icon-quimica.png', class: 'quimica' %>
  
  <h2 class="mensagem2">Conte com as mais diversas<br>questões do enem<br>e divirta-se estudando!</h2>

  <%= image_tag 'icon-geografia.png', class: 'geo' %>
  <%= image_tag 'icon-historia.png', class: 'historia' %>
  <%= image_tag 'icon-literatura.png', class: 'literatura' %>
  <%= image_tag 'icon-matematica.png', class: 'matematica' %>

  <div class="retangulo2">
    <p class="ainda">Ainda não é um<br>Luno?</p>
    <a href="users\sign_up"><button type="button" class="btn btn-danger btn-lg offset-md-7" style="font-size: 40px;">Cadastre-se</button></a>
    <img src="assets\tech.png" alt="icone computador" class="tech"></img>
  </div>

  <a href="pages\about" class="chama_sobre">Sobre nós</a>
  <p class="texto_apoio">Apoio:</p>
  <img src="assets\ifc.png" alt="Instituto Federal Catarinense Campus Fraiburgo" class="img_ifc"></img>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <div class="direitos">
  <p class="p">© Equipe EstudAluno. Todos os direitos reservados.</p>
</div>
