<div class="row colorFFF952 rounded">

  <div class="col-8">
    <h1 class="display-4 mt-4", style="font-size: ">
      Ei, tá na hora de estudar para o Enem.</h1>
      <br>
      <h4 style="font-family: serif; font-size: 30px;">Com a plataforma EstudAluno, interatividade e dinâmica não irão
      faltar!<br><br> É completamente gratuito!</h4>

  </div>

  <div class="col-4">
      <%= image_tag 'logo.png', class: 'logoinicio', style:'width:350px'%>
  </div>

</div>

<br>
<br>

<center>
  <div class="row">
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'biologia') do %>
        <%= image_tag 'icon-biologia.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'filosofia') do %>
        <%= image_tag 'icon-filosofia.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'fisica') do %>
        <%= image_tag 'icon-fisica.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'quimica') do %>
        <%= image_tag 'icon-quimica.png', class: 'icone' %>
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <h4 class="mensagem2">Conte com as mais diversas questões!</h4>

  <br>
  <br>

  <div class="row">
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'geografia') do %>
        <%= image_tag 'icon-geografia.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'historia') do %>
        <%= image_tag 'icon-historia.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'literatura') do %>
        <%= image_tag 'icon-literatura.png', class: 'icone' %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to area_conhecimento_questions_path(area: 'matematica') do %>
        <%= image_tag 'icon-matematica.png', class: 'icone' %>
      <% end %>
    </div>

  </div>
<center>

<br>
<br>

<% if !user_signed_in? %>
  <div class="row ciano">
      <div class="col-4">
        <%= image_tag 'tech.png', class: 'tech' %>
      </div>

      <div class="col-8">

          <p class="ainda">Ainda não é um<br>Aluno?</p>
            <%= link_to 'Cadastre-se', new_registration_path(User), class: 'btn btn-danger', style:'font-size: 40px' %>


      </div>
    </div>
  <% end %>

<br>
<br>

<div class="row">
  <div class="col-12">
    <%= image_tag 'ifc.png', class:'img_ifc', alt:'Instituto Federal Catarinense Campus Fraiburgo' %>
  </div>
</div>

<br>
<br>

  <div class="fixed-bottom direitos">
    <p>© Equipe EstudAluno. Todos os direitos reservados.</p>
  </div>