<%= form_with(model: answer, local: true) do |form| %>
  <%= form.hidden_field :question_id, id: :answer_question_id %>
  
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron" style='padding: 2rem;'>
    <span style='white-space: pre-wrap;'><%= @answer.question.description %></span>
    <hr class="mt-2">
    
      <% answer.question.alternatives.each do |a| %>
        <p>
          <%= form.radio_button :alternative_id, a.id, checked: false%>
          <%= a.descricao %>
        </p>
      <% end %>
    <div class='mt-4'>
      <%= form.submit 'Responder', class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

<% end %>
