<div class="row colorFFF952 rounded">

  <div class="col-4">
      <%= image_tag 'logo.png', class: 'logoinicio', style:'width:220px'%>
      <br>
  </div>

  <div class="col-8">
    <h1 class="display-4 mt-4", style="font-size: 120px">
      Questões</h1>
  </div>

</div>

<br>
<br>
<br>
<br>

<center>
<div class="row">
  <div class="col-md-3">
    <%= image_tag 'portugues.png', alt:'portugues', style: "width: 180px" %>
    <h2 style="font-size: 30px">Português</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'matematica.png', alt:'matematica', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Matemática</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'fisica.png', alt:'fisica', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Física</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'quimica.png', alt:'quimica', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Química</h2>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <%= image_tag 'historia.png', alt:'historia', style: "width: 180px" %>
    <h2 style="font-size: 30px">História</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'geografia.png', alt:'geografia', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Geografia</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'sociologia.png', alt:'sociologia', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Sociologia</h2>
  </div>
  <div class="col-md-3">
    <%= image_tag 'filosofia.png', alt:'filosofia', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Filosofia</h2>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'biologia.png', alt:'biologia', style: "width: 180px" %>
    <h2 style="font-size: 30px">Biologia</h2>
  </div>
  <div class="col-md-4">
    <%= image_tag 'ingles.png', alt:'ingles', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Inglês</h2>
  </div>
  <div class="col-md-4">
    <%= image_tag 'espanhol.png', alt:'espanhol', style: "width: 180px"  %>
    <h2 style="font-size: 30px">Espanhol</h2>
  </div>
</center>
