<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Questões', page_path('principal'), class: 'btn btn-sm btn-outline-success', style: 'font-size: 20px' %></li>
  <li class='nav-item'><%= link_to 'Cadastrar questões', questions_path, class: 'btn btn-sm btn-outline-danger', style: 'font-size: 20px' %></li>
  <li class='nav-item'><%= link_to 'Editar conta', edit_user_registration_path, class: 'btn btn-sm btn-outline-warning', style: 'font-size: 20px' %></li>
  <li class='nav-item'><%= link_to 'Sair', destroy_user_session_path, :method=>'delete', class: 'btn btn-sm btn-outline-info', style: 'font-size: 20px' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Logar', new_user_session_path, class: 'btn btn-sm btn-outline-success', style: 'font-size: 20px' %></li>
  <li class='nav-item'><%= link_to 'Inscrever-se', new_user_registration_path, class: 'btn btn-sm btn-outline-danger', style: 'font-size: 20px' %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li class='nav-item'><%= link_to 'Usuário', users_path, class: 'nav-link', style: 'font-size: 20px' %></li>
  <% end %>
<% end %>
