<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'Responder Questões', class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Criar Questões', questions_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Editar conta', edit_user_registration_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Sair', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Logar', new_user_session_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Inscrever-se', new_user_registration_path, class: 'nav-link' %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li class='nav-item'><%= link_to 'Usuário', users_path, class: 'nav-link' %></li>
  <% end %>
<% end %>
